<h1>Liste des concerts</h1>
<ul>
    <% concerts.forEach(concert => { %>
        <li>
            <img src="/<%= concert.image %>" alt="Concert" width="200"><br>
            <a href="/concert-details/<%= concert.idconcert %>"><%= concert.type %></a>
        </li>
    <% }) %>
</ul>
<a href="/">Retour</a>
<a href="/logout">Déconnexion</a>

