<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site de réservation de tickets</h1>

<% if (user) { %>  <!-- Si l'utilisateur est connecté -->
    <p>Bienvenue, <%= user %>!</p>
    <a href="/logout">Déconnexion</a>
<% } else { %>  <!-- Si l'utilisateur n'est pas connecté -->
    <a href="/login">Connexion</a>
    <a href="/register">S'inscrire</a>
<% } %>

    
</body>
</html>
